{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class="text-center border-bottom">
            <h1>Add Assignment</h1>
        </div>
    
        <div class="text-center">
            <br>
            <h3>Adding Assignment for {{course_num}}</h3>
        </div>

        <form action='/add' method='POST'>
            <div class="form-group col-md-4">
                <label for="assignment">Assignment Name</label>
                <input type="text" id="assignment" name="assignment" class="form-control">
            </div>
            <input type="hidden" name="courseNum" value='{{course_num}}' />
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        
        
        
{% endblock %}
