{% extends "base.html" %}

{% block content %}

<div class="text-center border-bottom">
    <h1>Planner</h1>
</div>
<div class="p-3">
    <form id="planner-list" action="/" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="class">Class</label>
                <select id="class" name="class" class="custom-select">
                    {% for o in options %}
                    <option value="{{o[0]}}">{{o[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div> 
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>


{% endblock %}



